{{!-- {{#each users as |user|}} --}}
<div class="friend-profile d-flex flex-column align-items-center">
  {{!-- <img src="{{avatar}}" alt="User Avatar"> --}}
  <h2>{{name}}</h2>
  <p>{{username}}</p>
  {{!-- todo make connected helper --}}
  {{!-- {{#unless connected}} --}}
  {{!-- Creates a user button that is linked to the specific users id and allows the users to connect --}}
  {{#if connected}}
  <button id="remove-friend-btn" class="connect-button submit rounded-pill" data-id="{{id}}" data-user={{user_id}}>Unfriend</button>
  {{else}}
  <button id="add-friend-btn" class="connect-button submit rounded-pill" data-id="{{id}}" data-user={{user_id}}>Add Friend</button>
  {{/if}}
  {{!-- {{/unless}} --}}
</div>
{{!-- {{/each}} --}}